$large-width: 768px;
$large-height: 600px;
$very-large-width: 992px;

@mixin large {
  @media (min-width: #{$large-width}) and (min-height: #{$large-height}){
    @content;
  }
}

@mixin large-width-only{
  @media (min-width: #{$very-large-width}) {
    @content;
  }
}

/* Universal */

body{
  background:url('../images/grey_linen.png');
}

footer .big-picture {

  @include large {
    position:absolute!important;
    bottom:0px!important;
  }

  @include large-width-only {
    position:absolute!important;
    bottom:0px!important;
  }
}


/* Portfolio detail */

.small-window-image{
  width:100%;
  margin-top:-130px;
  z-index:-1;
}

.bg-wrapper{
  height:100%;
  width:100%;
  right:0px;
  position:absolute;
  background-position:bottom right;
  background-size:contain;
  background-repeat:no-repeat;
}

.small-window{
  display:inline;

  @include large{
    display:none;
  }

  @include large-width-only{
    display:none;
  }
}

// .small-window-navbar{
//   display:inline;

//   @include large{
//     display:none;
//   }
// }

.medium-window{
  display:none;

  @include large{
    display:inline;
  }

  @include large-width-only{
    display:inline;
  }
}

/* Navbar */

.appear-on-mobile{
  display:inline-block;

  @media (min-width: #{$large-width}) 
  and (max-width:#{$very-large-width}) 
  and (max-height: #{$large-height}) {
    display:none;      
  }

  @include large-width-only{
    display:none;
  }

  @include large {
    display:none;
  }
}

.blank {
  visibility:hidden;
}

.navbar-padding{
  padding-top:160px;

  @include large-width-only{
    padding-top:40px;
  }

  @include large{
    padding-top: 40px;
  }

  @media (min-width: #{$large-width}) 
  and (max-width:#{$very-large-width}) 
  and (max-height: #{$large-height}) {
    padding-top: 40px;  
  }

}

.navbar-text{
  margin-bottom:5px;

    @media (min-width: #{$large-width}) 
  and (max-width:#{$very-large-width}) 
  and (max-height: #{$large-height}) {
    color:orange!important;      
  }
}
.navbar-text:hover{
  color:white!important;
}

  // breadcrumb text highlighting
.white-text{
  color:white!important;
}

.grey-text{
  color:#9d9d9d!important;
}
