extends layout

block content

  div.container
    div.row
      div(class="col-md-6 col-sm-12")
        h1 &nbsp;
        h1 BreannaBaker.com
        h4 Technical Consultant
        p.portfolio-description 
          |Portfolio site featuring several responsively designed layout patterns
        p • Added transforming navbar anchoring to top of the page
        p • Refactored styling to adapt to separate mobile layout
        p • Contributed numerous minor CSS additions
        h4 Team size: 2 people
        .label-line
          span.label.label-default.label-spacing HTML
          span.label.label-default.label-spacing CSS
          span.label.label-default.label-spacing Responsive Design
        a(class="btn btn-primary" href="http://breannabaker.com") 
          |Visit BreannaBaker.com
          i(class="fa fa-chevron-right")
        img(class="small-window small-window-image" src="#{bg}")
