extends layout

block content

  div.container
    div.row
      h1 &nbsp;
      div(class="col-md-6 col-sm-12 white-rounded-edges")
        h1.margin-top-none Equipp.me
        h4 Full-Stack Engineer
        p.portfolio-description 
          |Single-page team management platform with chat, calendar, document store, and agile to do list
        ul
          li Designed and built agile to do list with drag-and-drop interface
          li Organized team membership and administration with an intuitive routed menu
          li Created a consolidated Angular factory to optimize database calls to a single command
        h4 Team size: 4 people
        .label-line
          span.label.label-default.label-spacing AngularJS
          span.label.label-default.label-spacing Firebase
          span.label.label-default.label-spacing Responsive design
          span.label.label-default.label-spacing Git
          span.label.label-default.label-spacing Node.js
          span.label.label-default.label-spacing Express
          span.label.label-default.label-spacing Travis CI
          span.label.label-default.label-spacing HTML
          span.label.label-default.label-spacing CSS
          span.label.label-default.label-spacing Karma
          span.label.label-default.label-spacing Grunt
        br
        a(class="btn btn-primary" href="http://equipp.me") 
          |Visit Equipp.me 
          i(class="fa fa-chevron-right")
      br
    img(class="small-window small-window-image" src="#{bg}")
