extends layout

block content

  div.container
    div.row
      div(class="col-md-6 col-sm-12")
        h1 &nbsp;
        h1 Equipp.me
        h4 Full-stack developer
        p.portfolio-description 
          |Team management platform with chat, calendar, document store, and agile to do list
        p • Designed and built agile to do list with drag-and-drop interface
        p • Organized team membership and administration with an intuitive routed menu
        p • Created a consolidated Angular factory to optimize database calls to a single command
        h4 Team size: 4 people
        .label-line
          span.label.label-default.label-spacing AngularJS
          span.label.label-default.label-spacing Firebase
          span.label.label-default.label-spacing Responsive design
          span.label.label-default.label-spacing Bootstrap
        .label-line
          span.label.label-default.label-spacing Node.js
          span.label.label-default.label-spacing Express
          span.label.label-default.label-spacing Travis CI
          span.label.label-default.label-spacing HTML
          span.label.label-default.label-spacing CSS
          span.label.label-default.label-spacing Karma
          span.label.label-default.label-spacing Grunt
        br
        a(class="btn btn-primary" href="http://equipp.me") 
          |Visit Equipp.me 
          i(class="fa fa-chevron-right")
        img(class="small-window small-window-image" src="#{bg}")
