extends layout

block content

  div.container
    div.row
      div(class="col-md-6 col-sm-12")
        h1 &nbsp;
        h1 Food Hyped
        h4 Scrum Master, Full-Stack Engineer, Lead Mobile Engineer
        p.portfolio-description 
          |Restaurant aggregator that creates a “hype score” based on twitter, yelp, and instagram popularity
        p • Created project architecture in Node.js and organized Git workflow as scrum master 
        p • Designed and deployed React frontend utilizing Google Maps API
        p • Ported to mobile in React Native
        h4 Team size: 4 people
        .label-line
          span.label.label-default.label-spacing AngularJS
          span.label.label-default.label-spacing Firebase
          span.label.label-default.label-spacing Responsive design
          span.label.label-default.label-spacing Bootstrap
        .label-line
          span.label.label-default.label-spacing Node.js
          span.label.label-default.label-spacing Express
          span.label.label-default.label-spacing Travis CI
          span.label.label-default.label-spacing HTML
          span.label.label-default.label-spacing CSS
          span.label.label-default.label-spacing Karma
          span.label.label-default.label-spacing Grunt
        br
        a(class="btn btn-primary" href="http://equipp.me") 
          |Visit Equipp.me 
          i(class="fa fa-chevron-right")
        img(class="small-window small-window-image" src="#{bg}")