extends layout

block content

  div.container
    div.row
      h1 &nbsp;
      div(class="col-md-4 col-sm-5 col-xs-5 white-rounded-edges")
        h1.margin-top-none.my-name Nick McCormick
        p I am a JavaScript engineer. I began programming by making games in Unity3D as a hobby, and found that my skills in creating fun and effective game interfaces transferred well to front-end web development. 
        p I continue to create original web, mobile and board games to play with my friends. My other hobbies include mountain biking, hiking and cold brew coffee.
        a(class="btn btn-primary" href="/portfolio") 
          |Portfolio 
          i(class="fa fa-chevron-right")
      br
