extends layout

block content

  div.container
    div.row
      h1 &nbsp;
      div(class="col-md-4 col-sm-5 col-xs-5 white-rounded-edges")
        h1.margin-top-none.my-name Nick McCormick
        p I'm a software engineer. I have made several sites using full-stack JavaScript. My hobbies include game design, mountain biking, hiking and cold brew coffee.
        a(class="btn btn-primary" href="/portfolio") 
          |Portfolio 
          i(class="fa fa-chevron-right")
      br
