extends layout

block content

  div.container
    div.row
      h1 &nbsp;
      div(class="col-md-6 col-sm-12 white-rounded-edges")
        h1.margin-top-none Popul Vuh
        h4 Creator, Full-Stack Engineer
        p.portfolio-description 
          |A “Roguelike Deckbuilder” game created in Unity3D available on mobile and web
        ul
          li Wrote complex game logic for 50+ cards in C# using OOP design principles
          li Researched theme and designed UI based on Mayan mythology
          li iOS and Android versions coming soon to an app store near you!
        h4 Team size: Solo
        .label-line
          span.label.label-default.label-spacing Unity3D
          span.label.label-default.label-spacing C#
          span.label.label-default.label-spacing Git
          span.label.label-default.label-spacing Node
          span.label.label-default.label-spacing Mercurial
          span.label.label-default.label-spacing Photoshop
          span.label.label-default.label-spacing Game Design
        a(class="btn btn-primary" href="http://populvuh.nickmc.co") 
          |Play Popul Vuh 
          i(class="fa fa-chevron-right")
      br
      img(class="small-window small-window-image" src="#{bg}")
