extends layout

block content

  // Page Heading
  div(class="row")
    div(class="col-lg-12")
      h1(class="page-header") Portfolio
        // small Secondary Text 

  // Project One
  div(class="row")
    div(class="col-md-7")
      a(href="/equipp")
        img(class="img-responsive" src="./images/equipp/equipp-preview.png" alt="")
    div(class="col-md-4 white-rounded-edges")
      h3.margin-top-none Equipp.me
      h4 Full-Stack Engineer
      p.portfolio-description 
        |Single-page team management platform with chat, calendar, document store, and agile to do list
      a(class="btn btn-primary" href="/equipp") 
        |Find out more 
        i(class="fa fa-chevron-right")

  hr

  // Project Two
  div(class="row")
    div(class="col-md-7")
      a(href="/foodhyped")
        img(class="img-responsive" src="./images/foodhyped/foodhyped-preview.jpg" alt="")
    div(class="col-md-4 white-rounded-edges")
      h3.margin-top-none Food Hyped
      h4 Scrum Master, Full-Stack Engineer
      p.portfolio-description 
        |Restaurant aggregator that creates a “hype score” based on twitter, yelp, and instagram popularity
      a(class="btn btn-primary" href="/foodhyped") 
        |Find out more 
        i(class="fa fa-chevron-right")

  hr

  // Project Three
  div(class="row")
    div(class="col-md-7")
      a(href="/popul-vuh")
        img(class="img-responsive" src="./images/populvuh/populvuh-preview.png" alt="")
    div(class="col-md-4 white-rounded-edges")
      h3.margin-top-none Popul Vuh
      h4 Creator, Full-Stack Engineer
      p.portfolio-description 
        |A “Roguelike Deckbuilder” game created in Unity3D available on mobile and web
      a(class="btn btn-primary" href="/popul-vuh") 
        |Find out more 
        i(class="fa fa-chevron-right")


  hr

  // Project Four
  div(class="row")
    div(class="col-md-7")
      a(href="/breanna")
        img(class="img-responsive" src="./images/breannabaker/breannabaker.com.png" alt="")
    div(class="col-md-4 white-rounded-edges")
      h3.margin-top-none BreannaBaker.com
      h4 Technical Consultant
      p.portfolio-description  
        |Portfolio site featuring several responsively designed layout patterns
      a(class="btn btn-primary" href="/breanna") 
        |Find out more 
        i(class="fa fa-chevron-right")


  hr

